.content{

    padding:5% 5%;
}
.title{
    font-size: 27px;
    font-family: cursive;
    font-weight: bold;
    text-align: justify;
    width: 100%;
}
.card{
    margin: 2rem;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
}
.card_img{
    align-self: center;
    width: 20rem;
    height:16rem;
}
.card_line{
    height: 30px;
    width: 100%;
    color: #000000b1;
    align-self: center;
    border-bottom: 2px solid;
}
.card_text{
    text-transform: uppercase;
    font-family: cursive;
    font-weight: 900;
    align-self: center;
    text-align: justify;

}
.card_button{
    align-self: center;
    background-color: rgb(102, 104, 101);
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
    width: 50%;
}
.card_button:hover{
    padding:0.5rem 1rem;
    background-color: rgb(179, 179, 179);
    color:white;
    font-size: 20px;
}